/* .chefsbox{
background-color: white;
border: 2px solid black;
width: 100%;
height: 80vh;
}

.chefsimgbox{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-around;
}

.chef h2:hover{
    color: #d50000;

} */

@media (max-width:450px){
    .chefsbox{
        background-color: white;
        /* border: 2px solid black; */
        width: 100%;
        height: 80vh;
        }
        
        .chefsimgbox{
            /* background-color: blueviolet; */
            display: flex;
            flex-direction: row;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 50px;
            margin-left: 100px;
            margin-right: 100px;
            justify-content: space-around;
        }
        
        .chef h2:hover{
            color: #d50000;
        
        }
}


@media (mix-width:451px) and (max-width:768px){
    .chefsbox{
        background-color: white;
        /* border: 2px solid black; */
        width: 100%;
        height: 80vh;
        }
        
        .chefsimgbox{
            background-color: blueviolet;
            display: flex;
            flex-direction: row;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 50px;
            margin-left: 100px;
            margin-right: 100px;
            justify-content: space-around;
        }
        
        .chef h2:hover{
            color: #d50000;
        
        }
}

@media (mix-width:769px) and (max-width:1024px){
    .chefsbox{
        background-color: white;
        /* border: 2px solid black; */
        width: 100%;
        height: 80vh;
        }
        
        .chefsimgbox{
            /* background-color: blueviolet; */
            display: flex;
            flex-direction: row;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 50px;
            margin-left: 100px;
            margin-right: 100px;
            justify-content: space-around;
        }
        
        .chef h2:hover{
            color: #d50000;
        
        }
}


