/* @media (max-width:450px){
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer a {
    color: lightblue;
    text-decoration: none;
}
}

@media (min-width:451px) and (max-width:768px){
    .footer {
        background-color: #333;
        color: white;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .footer a {
        color: lightblue;
        text-decoration: none;
    }
}

@media (min-width:769px)and(max-width:1024px){
    .footer {
        background-color: #333;
        color: white;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .footer a {
        color: lightblue;
        text-decoration: none;
}
}

@media (min-width:1025px)and (max-width:1200px){
    .footer {
        background-color: #333;
        color: white;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .footer a {
        color: lightblue;
        text-decoration: none;
}
} */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer a {
    color: lightblue;
    text-decoration: none;
}